<div class="slide">
  <div class="content content--center">
    <h1 class="kp-h1">Мы работаем с&nbsp;2009&nbsp;года</h1>
    <div class="about">
      <div class="about__text">
        <p>На&nbsp;нашем сайте более 20&nbsp;000 моделей дровяных печей, каминов и&nbsp;другого отопительного оборудования. Мы&nbsp;предлагаем комплексное решение: от&nbsp;подбора оптимального варианта до&nbsp;финальной установки сертифицированной монтажной бригадой.</p>
        <div class="spec-h" style="margin-top:6px">Почему нас выбирают</div>
        <div class="mini-adv">
          <div class="adv"><div class="adv__ic"><svg class="flame"><use href="#flame"/></svg></div>
            <div><p class="adv__t">В&nbsp;наличии с&nbsp;демонстрацией</p><p class="adv__d">Товар можно увидеть вживую в&nbsp;шоуруме.</p></div></div>
          <div class="adv"><div class="adv__ic"><svg class="flame"><use href="#flame"/></svg></div>
            <div><p class="adv__t">Бесплатный замер и&nbsp;смета</p><p class="adv__d">Выезд инженера и&nbsp;точный расчёт работ.</p></div></div>
          <div class="adv"><div class="adv__ic"><svg class="flame"><use href="#flame"/></svg></div>
            <div><p class="adv__t">Монтаж 20+&nbsp;лет опыта</p><p class="adv__d">Высокая квалификация мастеров.</p></div></div>
          <div class="adv"><div class="adv__ic"><svg class="flame"><use href="#flame"/></svg></div>
            <div><p class="adv__t">Быстрая доставка</p><p class="adv__d">Привезём за&nbsp;1&nbsp;день по&nbsp;региону.</p></div></div>
        </div>
      </div>
      <div class="about__photo"></div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
