<div class="slide">
  <div class="content">
    <h1 class="kp-h1">Адреса шоурумов</h1>
    <p class="kp-lead">Приезжайте&nbsp;— покажем оборудование вживую и&nbsp;поможем с&nbsp;выбором.</p>
    <div class="addr-list">
      <div class="addr"><div class="addr__pin"><svg class="flame"><use href="#flame"/></svg></div>
        <div><div class="addr__t">Москва, 33&nbsp;км МКАД (внешняя сторона)</div><div class="addr__d">строительный рынок «Каширский двор-3», въезд&nbsp;№9, 50&nbsp;метров прямо, павильон&nbsp;1К1</div></div></div>
      <div class="addr"><div class="addr__pin"><svg class="flame"><use href="#flame"/></svg></div>
        <div><div class="addr__t">Москва, 33&nbsp;км МКАД (внешняя сторона)</div><div class="addr__d">строительный рынок «Каширский двор-3», въезд&nbsp;№9, 50&nbsp;метров прямо, павильон&nbsp;1К1</div></div></div>
      <div class="addr"><div class="addr__pin"><svg class="flame"><use href="#flame"/></svg></div>
        <div><div class="addr__t">Москва, 33&nbsp;км МКАД (внешняя сторона)</div><div class="addr__d">строительный рынок «Каширский двор-3», въезд&nbsp;№9, 50&nbsp;метров прямо, павильон&nbsp;1К1</div></div></div>
      <div class="addr"><div class="addr__pin"><svg class="flame"><use href="#flame"/></svg></div>
        <div><div class="addr__t">Москва, 33&nbsp;км МКАД (внешняя сторона)</div><div class="addr__d">строительный рынок «Каширский двор-3», въезд&nbsp;№9, 50&nbsp;метров прямо, павильон&nbsp;1К1</div></div></div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
