<div class="slide">
  <div class="content">
    <h1 class="kp-h1">Наши контакты</h1>
    <div class="cgrid">
      <div class="ccard">
        <div class="ccard__h"><div class="ccard__ic"><svg class="flame"><use href="#flame"/></svg></div><div class="ccard__t">Многоканальный телефон</div></div>
        <div class="ccard__b">{{ p.manager.phone }}</div>
      </div>
      <div class="ccard">
        <div class="ccard__h"><div class="ccard__ic"><svg class="flame"><use href="#flame"/></svg></div><div class="ccard__t">Наши мессенджеры</div></div>
        <div class="ccard__b"><div class="soc-row"><i></i><i></i><i></i><i></i></div></div>
      </div>
      <div class="ccard">
        <div class="ccard__h"><div class="ccard__ic"><svg class="flame"><use href="#flame"/></svg></div><div class="ccard__t">Электронная почта</div></div>
        <div class="ccard__b">{{ p.manager.email }}</div>
      </div>
      <div class="ccard">
        <div class="ccard__h"><div class="ccard__ic"><svg class="flame"><use href="#flame"/></svg></div><div class="ccard__t">Время работы контакт-центра</div></div>
        <div class="ccard__b">Пн–Сб / 9:00–20:00<br><span class="muted">Вс / 9:00–18:00</span></div>
      </div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
