<div class="slide">
  <div class="content">
    <div class="hero">
      <div class="hero__cap">
        <h1>Увидеть живой огонь в&nbsp;камине</h1>
        <p>Тепло, атмосфера и&nbsp;уют, которые невозможно передать словами. Приходите в&nbsp;шоурум&nbsp;— и&nbsp;почувствуйте это сами.</p>
      </div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
