<div class="slide">
  <div class="content">
    <h1 class="kp-h1">Фото наших готовых проектов</h1>
    <div class="photo-grid rows2" style="flex:1">
      <div class="ph warm"></div><div class="ph warm"></div><div class="ph warm"></div>
      <div class="ph warm"></div><div class="ph warm"></div><div class="ph warm"></div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
