<aside class="sb">
  <div class="sb__logo"><svg class="flame"><use href="#flame"/></svg>Печь.ру</div>
  <svg class="sb__wm-flame"><use href="#flame"/></svg>
  <div class="sb__wm-text">печь.ру</div>
  <a class="sb__more" href="https://www.pech.ru" target="_blank" rel="noopener">Подробнее<br>на&nbsp;Печь.ру</a>
</aside>
