<div class="slide">
  <div class="content content--center">
    <h1 class="kp-h1">Как заказать монтаж печи или&nbsp;камина</h1>
    <div class="steps">
      <div class="step"><div class="step__n">1</div><div><p class="step__t">Выезд инженера на&nbsp;объект</p><p class="step__d">Осмотрим помещение, согласуем размещение и&nbsp;учтём пожарную безопасность.</p></div></div>
      <div class="step"><div class="step__n">2</div><div><p class="step__t">Расчёт и&nbsp;смета</p><p class="step__d">Подготовим прозрачную смету на&nbsp;оборудование и&nbsp;работы.</p></div></div>
      <div class="step"><div class="step__n">3</div><div><p class="step__t">Доставка товара</p><p class="step__d">Привезём оборудование в&nbsp;согласованные сроки бережно и&nbsp;вовремя.</p></div></div>
      <div class="step"><div class="step__n">4</div><div><p class="step__t">Монтаж с&nbsp;лицензией</p><p class="step__d">Выполним работы по&nbsp;правилам и&nbsp;с&nbsp;соблюдением норм безопасности.</p></div></div>
      <div class="step"><div class="step__n">5</div><div><p class="step__t">Гарантия и&nbsp;сервис</p><p class="step__d">Дадим гарантию на&nbsp;монтаж и&nbsp;возьмём на&nbsp;обслуживание.</p></div></div>
    </div>
  </div>
  {% include "_sidebar.html.j2" %}
</div>
